### Bank Marketing Lab

In this lab, our goal is to predict the purchase of a bank product marketed over the phone.  This is represented in our `y` column in the data. (Here is the [data dictionary](https://archive.ics.uci.edu/ml/datasets/Bank+Marketing) )    In examining this binary classification problem, we want to explore how different models perform, specifically in terms of:

- Accuracy
- Precision
- Recall

In [1]:
import pandas as pd

In [5]:
bank = pd.read_csv('data/bank_marketing.csv')

In [6]:
bank.head()

,Unnamed: 0,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0
1,1,39,services,single,high.school,no,no,no,telephone,may,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,0
2,2,25,services,married,high.school,no,yes,no,telephone,jun,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,0
3,3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,0
4,4,47,admin.,married,university.degree,no,yes,no,cellular,nov,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,0

In [8]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 22 columns):
Unnamed: 0        4119 non-null int64
age               4119 non-null int64
job               4119 non-null object
marital           4119 non-null object
education         4119 non-null object
default           4119 non-null object
housing           4119 non-null object
loan              4119 non-null object
contact           4119 non-null object
month             4119 non-null object
day_of_week       4119 non-null object
duration          4119 non-null int64
campaign          4119 non-null int64
pdays             4119 non-null int64
previous          4119 non-null int64
poutcome          4119 non-null object
emp.var.rate      4119 non-null float64
cons.price.idx    4119 non-null float64
cons.conf.idx     4119 non-null float64
euribor3m         4119 non-null float64
nr.employed       4119 non-null float64
y                 4119 non-null int64
dtypes: float64(5), int64(7), object(10)
memory usage: 708.0+ KB

In [11]:
bank.y.value_counts()

0    3668
1     451
Name: y, dtype: int64

### Exploration

Are there other characteristics that need to be handled within the data?  How can we encode something like the missing values that are labeled 'unknown'?

### Model Building

Examine the results of three classification models including a `LogisticRegression`, and a `DummyClassifier`.  Produce and interpret the classification report for each of these models.  Which would you care about more in this scenario, a model that has higher precision or recall?