# Project 3

In this project, you will perform a logistic regression on admissions data

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [7]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables.  Look at the documentation for pd.crosstab

In [8]:
# frequency table for prestige and whether or not someone was admitted
pd.crosstab('','')

ValueError: If using all scalar values, you must pass an index

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [12]:
prestige_dummies = pd.get_dummies(df['prestige'])
prestige_dummies.head()

   1.0  2.0  3.0  4.0
0    0    0    1    0
1    0    0    1    0
2    1    0    0    0
3    0    0    0    1
4    0    0    0    1

#### 2.2 When modeling our class variables, how many do we need?

Answer:

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [20]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(prestige_dummies)
handCalc.head()

   admit    gre   gpa  1.0  2.0  3.0  4.0
0      0  380.0  3.61    0    0    1    0
1      1  660.0  3.67    0    0    1    0
2      1  800.0  4.00    1    0    0    0
3      1  640.0  3.19    0    0    0    1
4      0  520.0  2.93    0    0    0    1

In [23]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab('','')

1.0      0   1
admit
0      243  28
1       93  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

#### 3.3 Calculate the odds ratio

#### 3.4 Write this finding in a sentenance:

Answer:

#### 3.5 Print the cross tab for prestige_4

#### 3.6 Calculate the Odds Ratio

#### 3.7 Write this finding in a sentence

Answer:

## Part 4. Analysis

In [25]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']

## Dropping one of the dummy columns
data = df[cols_to_keep].join(prestige_dummies.iloc[:, 1:])
data.head()

   admit    gre   gpa  2.0  3.0  4.0
0      0  380.0  3.61    0    1    0
1      1  660.0  3.67    0    1    0
2      1  800.0  4.00    0    0    0
3      1  640.0  3.19    0    0    1
4      0  520.0  2.93    0    0    1

#### 4.1 Create the X and Y variables

#### 4.2 Fit the model - 

 - Load sklearn's logistic regression
 - Create the regression object
 - Fit the model

#### 4.3 Print the coefficients

#### 4.4 Calculate the odds ratios of the coeffiencents

hint 1: np.exp(X)

#### 4.5 Interpret the OR of Prestige_2

Answer:

#### 4.6 Interpret the OR of GPA

Answer:

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.