# Project 3

In this project, you will perform a logistic regression on admissions data

In [69]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np
from sklearn.metrics import precision_score as ps
from sklearn.metrics import recall_score as rc
from sklearn.metrics import confusion_matrix as cm

In [46]:
df = pd.read_csv("../assets/admissions.csv")
df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
admit       400 non-null int64
gre         398 non-null float64
gpa         398 non-null float64
prestige    399 non-null float64
dtypes: float64(3), int64(1)
memory usage: 12.6 KB

In [48]:
df = df.dropna()

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 0 to 399
Data columns (total 4 columns):
admit       397 non-null int64
gre         397 non-null float64
gpa         397 non-null float64
prestige    397 non-null float64
dtypes: float64(3), int64(1)
memory usage: 15.5 KB

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables.  Look at the documentation for pd.crosstab

In [51]:
prestige = pd.crosstab(index=df['prestige'], columns='count')
prestige
#pd.crosstab(index=df['prestige'], columns='count').sum()

col_0     count
prestige
1.0          61
2.0         148
3.0         121
4.0          67

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [6]:
prestige_dummies = pd.get_dummies(df['prestige'])
prestige_dummies.head()

   1.0  2.0  3.0  4.0
0    0    0    1    0
1    0    0    1    0
2    1    0    0    0
3    0    0    0    1
4    0    0    0    1

In [7]:
prestige_dummies.rename(columns={1.0: 'Prestige1', 2.0: 'Prestige2', 3.0: 'Prestige3', 4.0: 'Prestige4'}, inplace=True)
prestige_dummies.head()

   Prestige1  Prestige2  Prestige3  Prestige4
0          0          0          1          0
1          0          0          1          0
2          1          0          0          0
3          0          0          0          1
4          0          0          0          1

#### 2.2 When modeling our class variables, how many do we need?

Answer: 3 (always 1 less than the number of calss variables)

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [8]:
cols_to_keep = ['admit', 'gre', 'gpa']
handcalc = df[cols_to_keep].join(prestige_dummies)
handcalc.head()

   admit    gre   gpa  Prestige1  Prestige2  Prestige3  Prestige4
0      0  380.0  3.61          0          0          1          0
1      1  660.0  3.67          0          0          1          0
2      1  800.0  4.00          1          0          0          0
3      1  640.0  3.19          0          0          0          1
4      0  520.0  2.93          0          0          0          1

In [9]:
len(handcalc['admit'])

397

In [10]:
len(handcalc[handcalc['admit']==0])

271

In [11]:
handcalc['admit'].sum()

126

In [12]:
len(handcalc[handcalc['Prestige1']==0])

336

In [13]:
handcalc['Prestige1'].sum()

61

In [14]:
prestige = pd.crosstab(index=handcalc['Prestige1'], columns="count")
prestige

col_0      count
Prestige1
0            336
1             61

In [15]:
handcalc['Prestige4'].value_counts()

0    330
1     67
Name: Prestige4, dtype: int64

In [16]:
#unclear why the below code returns the columns in the incorrect order, i.e. column prestige 4 is really prestige 1. (?)

#comb = pd.crosstab(index=handcalc['admit'], columns=[handcalc['Prestige1'],handcalc['Prestige2'],handcalc['Prestige3'],handcalc['Prestige4']], margins=True)
#comb.columns = ['prestige 1','prestige 2','prestige 3','prestige 4', 'rowtotal']
#comb.index = ['admit 0','admit 1', 'coltotal']
#comb

In [17]:
pd.crosstab(df['admit'], df['prestige'], rownames=['admit'])

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

In [18]:
comb = pd.crosstab(index=df['admit'], columns=df['prestige'])
comb.columns = ['prestige 1','prestige 2','prestige 3','prestige 4']
comb.index = ['admit 0','admit 1']
comb

         prestige 1  prestige 2  prestige 3  prestige 4
admit 0          28          95          93          55
admit 1          33          53          28          12

In [19]:
handcalc

     admit    gre   gpa  Prestige1  Prestige2  Prestige3  Prestige4
0        0  380.0  3.61          0          0          1          0
1        1  660.0  3.67          0          0          1          0
2        1  800.0  4.00          1          0          0          0
3        1  640.0  3.19          0          0          0          1
4        0  520.0  2.93          0          0          0          1
5        1  760.0  3.00          0          1          0          0
6        1  560.0  2.98          1          0          0          0
7        0  400.0  3.08          0          1          0          0
8        1  540.0  3.39          0          0          1          0
9        0  700.0  3.92          0          1          0          0
10       0  800.0  4.00          0          0          0          1
11       0  440.0  3.22          1          0          0          0
12       1  760.0  4.00          1          0          0          0
13       0  700.0  3.08          0          1          0          0
14       1  700.0  4.00          1          0          0          0
15       0  480.0  3.44          0          0          1          0
16       0  780.0  3.87          0          0          0          1
17       0  360.0  2.56          0          0          1          0
18       0  800.0  3.75          0          1          0          0
19       1  540.0  3.81          1          0          0          0
20       0  500.0  3.17          0          0          1          0
21       1  660.0  3.63          0          1          0          0
22       0  600.0  2.82          0          0          0          1
23       0  680.0  3.19          0          0          0          1
24       1  760.0  3.35          0          1          0          0
25       1  800.0  3.66          1          0          0          0
26       1  620.0  3.61          1          0          0          0
27       1  520.0  3.74          0          0          0          1
28       1  780.0  3.22          0          1          0          0
29       0  520.0  3.29          1          0          0          0
..     ...    ...   ...        ...        ...        ...        ...
370      1  540.0  3.77          0          1          0          0
371      1  680.0  3.76          0          0          1          0
372      1  680.0  2.42          1          0          0          0
373      1  620.0  3.37          1          0          0          0
374      0  560.0  3.78          0          1          0          0
375      0  560.0  3.49          0          0          0          1
376      0  620.0  3.63          0          1          0          0
377      1  800.0  4.00          0          1          0          0
378      0  640.0  3.12          0          0          1          0
379      0  540.0  2.70          0          1          0          0
380      0  700.0  3.65          0          1          0          0
381      1  540.0  3.49          0          1          0          0
382      0  540.0  3.51          0          1          0          0
383      0  660.0  4.00          1          0          0          0
384      1  480.0  2.62          0          1          0          0
385      0  420.0  3.02          1          0          0          0
386      1  740.0  3.86          0          1          0          0
387      0  580.0  3.36          0          1          0          0
388      0  640.0  3.17          0          1          0          0
389      0  640.0  3.51          0          1          0          0
390      1  800.0  3.05          0          1          0          0
391      1  660.0  3.88          0          1          0          0
392      1  600.0  3.38          0          0          1          0
393      1  620.0  3.75          0          1          0          0
394      1  460.0  3.99          0          0          1          0
395      0  620.0  4.00          0          1          0          0
396      0  560.0  3.04          0          0          1          0
397      0  460.0  2.63          0          1          0          0
398      0  700.0  3.65          0          1          0          0
399      0  600.0  3.89          0          0          1          0

[397 rows x 7 columns]

In [20]:
handcalc.describe()

,admit,gre,gpa,Prestige1,Prestige2,Prestige3,Prestige4
count,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000,397.000000
mean,0.317380,587.858942,3.392242,0.153652,0.372796,0.304786,0.168766
std,0.466044,115.717787,0.380208,0.361070,0.484159,0.460898,0.375017
min,0.000000,220.000000,2.260000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,520.000000,3.130000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,580.000000,3.400000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,660.000000,3.670000,0.000000,1.000000,1.000000,0.000000
max,1.000000,800.000000,4.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
prestige_1 = pd.crosstab(index=handcalc['Prestige1'], columns='count')
prestige_1

col_0      count
Prestige1
0            336
1             61

In [22]:
admit = pd.crosstab(index=handcalc['admit'], columns='count')
admit

col_0  count
admit
0        271
1        126

In [23]:
# crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
comb1 = pd.crosstab(index=handcalc['admit'], columns=handcalc['Prestige1'])
comb1.columns = ['not prestige 1', 'prestige 1'] #why in this order?
comb1.index = ['admit 0','admit 1']
comb1

         not prestige 1  prestige 1
admit 0             243          28
admit 1              93          33

In [24]:
# crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
comb2 = pd.crosstab(index=handcalc['Prestige1'], columns=handcalc['admit'])
comb2.columns = ['admit 0','admit 1'] 
comb2.index = ['not prestige 1', 'prestige 1'] #why in this order?
comb2

                admit 0  admit 1
not prestige 1      243       93
prestige 1           28       33

In [25]:
comb3 = pd.crosstab(handcalc['admit'], handcalc['Prestige1'], rownames=['admit'], colnames=['Prestige1'])
comb3

Prestige1    0   1
admit
0          243  28
1           93  33

In [26]:
comb4 = pd.crosstab(handcalc['Prestige1'], handcalc['admit'], rownames=['Prestige1'], colnames=['admit'])
comb4

admit        0   1
Prestige1
0          243  93
1           28  33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [27]:
comb4.iloc[1][1] / (comb4.iloc[1].sum() - comb4.iloc[1][1])

1.1785714285714286

odds ratio:  33:28

In [28]:
comb1

         not prestige 1  prestige 1
admit 0             243          28
admit 1              93          33

In [29]:
comb1['prestige 1']

admit 0    28
admit 1    33
Name: prestige 1, dtype: int64

In [30]:
comb1['not prestige 1']

admit 0    243
admit 1     93
Name: not prestige 1, dtype: int64

In [31]:
comb1['prestige 1']['admit 1'==1].sum()

28

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [32]:
comb4

admit        0   1
Prestige1
0          243  93
1           28  33

In [33]:
comb4.iloc[0][1] #why is this the same?

93

In [34]:
comb4.loc[0][1] #why is this the same?

93

In [35]:
93+33

126

In [36]:
comb4.loc[0][1] / ((comb4.loc[0][1] + comb4.loc[1][1]) - comb4.loc[0][1])

2.8181818181818183

#### 3.3 Calculate the odds ratio

odds ratio:  93:33

#### 3.4 Write this finding in a sentenance:

Answer:

#### 3.5 Print the cross tab for prestige_4

In [37]:
comb5 = pd.crosstab(handcalc['Prestige4'], handcalc['admit'], rownames=['Prestige4'], colnames=['admit'])
comb5

admit        0    1
Prestige4
0          216  114
1           55   12

#### 3.6 Calculate the Odds Ratio

12:55

In [38]:
12/(67-12)

0.21818181818181817

#### 3.7 Write this finding in a sentence

Answer:

## Part 4. Analysis

In [55]:
prestige_dummies.iloc[:, 1:] #first section is rows, second section is columns

     Prestige2  Prestige3  Prestige4
0            0          1          0
1            0          1          0
2            0          0          0
3            0          0          1
4            0          0          1
5            1          0          0
6            0          0          0
7            1          0          0
8            0          1          0
9            1          0          0
10           0          0          1
11           0          0          0
12           0          0          0
13           1          0          0
14           0          0          0
15           0          1          0
16           0          0          1
17           0          1          0
18           1          0          0
19           0          0          0
20           0          1          0
21           1          0          0
22           0          0          1
23           0          0          1
24           1          0          0
25           0          0          0
26           0          0          0
27           0          0          1
28           1          0          0
29           0          0          0
..         ...        ...        ...
370          1          0          0
371          0          1          0
372          0          0          0
373          0          0          0
374          1          0          0
375          0          0          1
376          1          0          0
377          1          0          0
378          0          1          0
379          1          0          0
380          1          0          0
381          1          0          0
382          1          0          0
383          0          0          0
384          1          0          0
385          0          0          0
386          1          0          0
387          1          0          0
388          1          0          0
389          1          0          0
390          1          0          0
391          1          0          0
392          0          1          0
393          1          0          0
394          0          1          0
395          1          0          0
396          0          1          0
397          1          0          0
398          1          0          0
399          0          1          0

[397 rows x 3 columns]

In [40]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']

# Dropping one of the dummy columns
data = df[cols_to_keep].join(prestige_dummies.iloc[:, 1:]) #how does this drop work?
data.head()

   admit    gre   gpa  Prestige2  Prestige3  Prestige4
0      0  380.0  3.61          0          1          0
1      1  660.0  3.67          0          1          0
2      1  800.0  4.00          0          0          0
3      1  640.0  3.19          0          0          1
4      0  520.0  2.93          0          0          1

#### 4.1 Create the X and Y variables

In [58]:
feature_cols = ['gre', 'gpa', 'Prestige2', 'Prestige3', 'Prestige4']
X = data[feature_cols] #create X (we are passing a list of arrays, so we ndon't eed to double [[]] so that it reads as a df)
y = data['admit']  #create y

#### 4.2 Fit the model - 

 - Load sklearn's logistic regression
 - Create the regression object
 - Fit the model

In [59]:
#fitting a logistic regression model and storing the class predictions

from sklearn.linear_model import LogisticRegression #load sklearn's logistic regression

logreg = LogisticRegression() #create regression object

logreg.fit(X, y) #fit
pred = logreg.predict(X) #predict

logreg.score(X, y) #this returns the accuracy

0.7052896725440806

#### 4.3 Print the coefficients

In [64]:
print (logreg.coef_)
print (logreg.intercept_)
print (df.admit.mean())

[[ 0.00178497  0.23229458 -0.60347467 -1.17214957 -1.37729795]]
[-1.81701706]
0.31738035264483627

In [61]:
admit_perc = 126 / (271+126)
admit_perc

0.31738035264483627

- if you throw zero 0 for all the y pred's, you would be right 68% of the time, that is not very good
- if you throw 1 for all the y pred's, you would be right 32% of the time, that is not very good

In [65]:
print (pred) #this is my predicton

[0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [89]:
ps(y, pred) #this gives the precision

#true postive / (true postive + false positive)

#he group you identified correctly divided by the total group you identified

#this number should be as high as possible

#for cases like high versus low ride day --- need clarity on this

0.6216216216216216

In [88]:
rc(y, pred) #this gives the recall

#true postive / (true postive + false negative) 

#the group you identified correctly divided by the group total

#this number should be as high as possible

#for cases like cancer, you want to have a better recall and minimize the chance for false negatives

0.18253968253968253

In [77]:
cm(y, pred) #this gives the confusion matrix, which is easier to read with labels

array([[257,  14],
       [103,  23]])

In [85]:
23 / (14+23) 

#precision
#23 is the true positive predicted correctly 
#14 is the false positive, precicted as admitted but they are not actually admitted

0.6216216216216216

In [87]:
23 / (23+103)

#recall
#23 is the true positive predicted correctly 
#103 is the false negative, precicted as not admitted but they are actually admitted

0.18253968253968253

#### 4.4 Calculate the odds ratios of the coeffiencents

hint 1: np.exp(X)

- odds = probability / (1 - probability) i.e. one outcome/all other outcomes
- probability = odds / (1 + odds) i.e. one outcome/all outcomes

- logistic regression, compresses the linear reression to fit between 0 and 1 ???
- the np.exp(X) reverts it back ???

In [94]:
logreg.coef_ #this is a list of a list, which is why you need to index into it

array([[ 0.00178497,  0.23229458, -0.60347467, -1.17214957, -1.37729795]])

In [115]:
#logodds = logreg.intercept_ + logreg.coef_[0] * ???
#logodds

array([ -1.78310259,   2.59657996, -13.28303588, -24.08785888,
       -27.98567802])

In [121]:
#this gives the odds ratio
params = logreg.coef_[0]
np.exp(params)

array([1.00178657, 1.26149128, 0.546908  , 0.3097005 , 0.25225925])

In [122]:
# Convert log odds to odds.
odds = np.exp(params)
odds

array([1.00178657, 1.26149128, 0.546908  , 0.3097005 , 0.25225925])

In [123]:
# Convert odds to probability.
prob = odds/(1 + odds)
prob

array([0.50044624, 0.5578139 , 0.35354915, 0.23646666, 0.20144331])

#### 4.5 Interpret the OR of Prestige_2

http://www.biochemia-medica.com/content/odds-ratio-calculation-usage-and-interpretation

Answer: 

- ppl who went to prestige 2 school, are 54% more likely to get admitted than prestige 1 students 
- bc prestige 1 is the dummy variable, or your base

#### 4.6 Interpret the OR of GPA

Answer: 

- for one unit increase in gpage you are 1.26149128 times to be admitted

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.