In [16]:
# same ol boilerplate, except no csv.DictReader
from os import makedirs
from os.path import join

%matplotlib inline
import matplotlib.pyplot as plt
# but now we got some pandas
import pandas as pd

DATA_FILENAME = join('data', 'climate', 'extracted', 'nasa-ghgases-co2-mean.csv')

In [17]:
df = pd.read_csv(DATA_FILENAME)

In [18]:
df.head(10)

   year  co2_ppm_mean
0  1850         285.2
1  1851         285.1
2  1852         285.0
3  1853         285.0
4  1854         284.9
5  1855         285.1
6  1856         285.4
7  1857         285.6
8  1858         285.9
9  1859         286.1

# Subsetting columns with the `iloc` attribute

`iloc` provides a way to slice a range of rows of a dataframe. Note the indexes are preserved:

In [19]:
df.iloc[5:10]

   year  co2_ppm_mean
5  1855         285.1
6  1856         285.4
7  1857         285.6
8  1858         285.9
9  1859         286.1

# Select columns

Just pass in a list of column names

In [20]:
df[['co2_ppm_mean', 'year']].head()

   co2_ppm_mean  year
0         285.2  1850
1         285.1  1851
2         285.0  1852
3         285.0  1853
4         284.9  1854

# Adding a derived column

### Add a decade column

In [24]:
df['decade'] = df.round({'year': -1})['year']
df.head()

   year  co2_ppm_mean  decade
0  1850         285.2    1850
1  1851         285.1    1850
2  1852         285.0    1850
3  1853         285.0    1850
4  1854         284.9    1850


### Add change over year for the `co2_ppm_mean`

# Grouping